h1 {
    text-align: center;
}

#header {
    background-color: bisque;
    padding: 0.5%;
}

.bitcoin-logo {
    width: 250px;
    height: 100px;
    background: url(./btc.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
}

#btc-price {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
}

:root {
    --black: hsl(0, 0%, 11%);
    --primary: hsl(32, 91%, 50%);
    --transition: 0.3s ease-in-out;
    --white: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

pre {
    margin: 0;
}

.grid {
    display: inline-grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    width: 100%;
}

.bitcoin {
    height: 350px;
    margin: 30px auto 0 auto;
    position: relative;
    width: 350px;
}


.circle {
    border: 25px solid var(--black);
    border-radius: 50%;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    transform: rotate(0);
    transition: var(--transition);
    width: 300px;
    will-change: transform;
}

.wrapper {
    height: 194px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
}

.primary-element {
    background-color: var(--black);
    border: 1px solid var(--black);
    position: absolute;
    transition: var(--transition);
    z-index: 1;
}

.white-element {
    background-color: var(--white);
    position: absolute;
    z-index: 2;
}

.element-1,
.element-2 {
    height: 18px;
    left: 0;
    width: 76px;
}

.element-1 {
    top: 25px;
}

.element-2 {
    top: 152px;
}

.element-3 {
    height: 145px;
    left: 22px;
    top: 25px;
    transform-origin: 0 0;
    width: 36px;
}

.element-4,
.element-5 {
    height: 194px;
    top: 0;
    width: 20px;
    z-index: 1;
}

.element-4 {
    left: 38px;
}

.element-5 {
    left: 76px;
}

.element-6 {
    height: 18px;
    left: 22px;
    top: 86px;
    width: 54px;
}

.element-7,
.element-8 {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.element-7,
.element-8 {
    left: 96px;
}

.element-7 {
    height: 68px;
    top: 25px;
    width: 43px;
}

.element-8 {
    height: 77px;
    top: 93px;
    width: 49px;
}

.element-9,
.element-10 {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    left: 58px;
    z-index: 10;
}

.element-9 {
    height: 43px;
    top: 43px;
    width: 43px;
    z-index: 10;
}

.element-10 {
    height: 48px;
    top: 104px;
    width: 50px;
}

.element-11 {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    height: 107px;
    left: 0;
    top: 45px;
    width: 22px;
    z-index: 10;
}

.element-12,
.element-13 {
    background-color: var(--black);
    height: 8px;
    left: 14px;
    width: 8px;
    z-index: 9;
}

.element-12 {
    top: 43px;
}

.element-13 {
    top: 144px;
}

.bitcoin:hover .primary-element,
.bitcoin.hover .primary-element {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.bitcoin:hover .circle,
.bitcoin.hover .circle {
    border-color: var(--primary);
    transform: rotate(-15deg);
}

.show * {
    background-color: var(--black);
    border: 1px solid var(--primary);
    opacity: 0.7;
}

.author {
    margin-top: 3rem;
    text-align: center;
}